* { margin: auto; padding: 0; border: 0; }
@font-face { font-family: 'Arcade Classic'; src: url('../Fonts/ARCADECLASSIC.TTF') format('truetype'); }
body { margin: 0 auto 0 auto; width: 1024px; background-color: cadetblue; overflow: hidden; }
#borderUI { position: absolute; left: 19%;  background: url("../Images/border_wooden_small.png") no-repeat; overflow: hidden; padding: 2em 12em 10em 13em; }
/* the main container */
#gameUI { position: relative; right: 12.5%; top: 1.5em; display: block; width: 624px; height: 576px; }
/*  my canvas */
#mainCanvas { position: absolute; background: #000; display: block; width: 624px; height: 576px; }
/* the menu UI */
#menuUI { position: absolute; font-size: 36px; width: 100%; height: 100%; display: block; font-family: "Arcade Classic", sans-serif; color: #fff; background: url('../Images/menu_bg.png') no-repeat; }
.menuUIButtons { display: block; position: inherit; top: 30%; width: 100%; text-align: center; font-variant: small-caps; cursor: pointer; }
.menuButton:hover { background-color: cadetblue; }
.optionUIButtons { display: block; position: inherit; top: 30%; width: 100%; text-align: center; font-variant: small-caps; cursor: pointer; }
.optionUIButtons:hover { background-color: cadetblue; }
/* game scoreOne UI */
#gameScoreUI { padding-bottom: 4%; opacity: 0.5; background-color: cadetblue; width: 100%; position: absolute; top: 0; display: block; font-family: "Arcade Classic", sans-serif; color: #fff; font-size: 24px; }
#scorePlayerOne { position: absolute; left: 82%; }
#remainingTimeUI { position: absolute; left: 45%; }
#scorePlayerTwo { position: absolute; left: 1%; }
/* game over UI*/
#gameOverUI { position: absolute; bottom: 45%; text-align: center; width: 100%; display: block; font-family: "Arcade Classic", sans-serif; background-color: #000; opacity: 0.8; color: #fff; padding: 5px 0 5px 0; }
#gameOverTextUI { display: block; font-size: 48px; }
#gameRestartUI { display: block; font-size: 36px; cursor: pointer; font-variant: small-caps; }
#goToMenuUI { display: block; font-size: 36px; cursor: pointer; font-variant: small-caps; }
/* options */
#optionsUI { cursor: default; position: absolute; font-size: 36px; width: 100%; height: 100%; display: block; font-family: "Arcade Classic", sans-serif; color: #fff; background: url('../Images/menu_bg.png') no-repeat; }
#optionsUI div { cursor: inherit; }
#optionsUI select, span, input { cursor: pointer; }
#optionsBackBtn { cursor: pointer; top: 65%; }
#musicUI select { top: 105%; }
#musicUI div { padding: 1% 0; }
#musicUI div:hover { background-color: cadetblue; }
#music_select_id { width: 40%; border: 0; left: 31%; padding: 0.5em; text-align: center; }
#timeChallengeUI { top: 54%; }
#timechallenge_check { padding: 2em; }
#sound_effect_option { top: 59%; }
#gameSpeedUI { top: 41%; }
#gameSpeedUI div { width: 100%; padding-bottom: 1%; }
#gameSpeedUI div:hover { background-color: cadetblue; }
#game_speed_select { border: 0; padding: 0.5em; text-align: center; }
/* choose game difficulty / map */
#choose_diff_id { position: absolute; color: white; width: 100%; height: 100%; background: #000; background: url('../Images/menu_bg.png') no-repeat; }
#choose_diff_id:after { clear: both; }
.difficulty {  padding: 5px; margin-top: 35%; float: left; width: 48%; display: block; }
.difficulty img { margin-left: 29%; }
.difficulty p { text-align: justify; width: 10em; margin-top: 3%; margin-left: 24%; font-family: "Arcade Classic", sans-serif }
button { margin-left: 35%; padding: 5px; font-family: "Arcade Classic", sans-serif; cursor: pointer; }
#easy, #hard { cursor: pointer; }
#hard { padding-bottom: 6%; }
#easy:hover, #hard:hover { background-color: cadetblue; }
#difficultyBackBtn { padding: 1% 0; font-size: 1.1em;}
/* progress bar */
#progress_div { width: 100%; height: 100%; position: inherit; background-color: #000; }
#progress_div progress { position: inherit; top: 45%; left: 38%; }
/* credits */
#credits_ui_diff { cursor: default; position: absolute; font-size: 36px; width: 100%; height: 100%; display: block; font-family: "Arcade Classic", sans-serif; color: #fff; background: url('../Images/menu_bg.png') no-repeat; }
#creditsText { margin-top: 5em; text-align: center; width: 55%; font-size: 1em; color: coral; }
#creditsText span { font-size: .6em; color: white; }
#creditsBackBtn { top: 65%; }
